<div class ="body">
  <div class="header">
      <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-info  shadow-sm">
      <h2 class="my-0 mr-md-auto font-weight-normal text-white">Self-esteem</h1>
      <nav class="my-2 my-md-0 mr-md-3">
        <% if user_signed_in? %>
          <%= link_to current_user.nickname, "#", class: "user-nickname text-white p-2" %>  
          <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "logout text-white p-2" %>
        <% else %>
          <%= link_to 'Log in', new_user_session_path, class: "login text-white p-2" %>
          <%= link_to 'Sign up', new_user_registration_path, class: "sign-up text-white p-2" %>
          <%= link_to 'Guest Log in', life_charts_guest_sign_in_path, class: "login text-white p-2", method: :post %>
        <% end %>
      </nav>
    </div>
  </div>

  <div class="container">
    <div class="left">
      <h3 class="text-white p-5">自分のことを<br>もっと褒めてあげませんか？<h3>
      <div class="pl-5">
        <p class="text-white h6">
          どんな小さいことでも構いません。
          <br>毎日書くことで、自分に自信が持てるようになってきます。
        </p>
      </div>
    </div>

    <div class="mt-5">
      <button type="button" class="text-white ml-5 btn border-light btn-outline-primary" data-toggle="modal" data-target="#usageModal">
         使い方
      </button>
    </div>
    <div class="left p-5">
       <%=link_to "今日良かったことを投稿する",good_things_index_path, class:"btn text-white border-light btn-outline-primary",type:"button"%>
    </div>
</div>

    <footer class="pt-4 my-md-5 pt-md-5 border-top border-white fixed-bottom container">
      <div class="row">
        <div class="col-6 col-md text-white">
          <h5>このサービスについて</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-white" href="#">プライバシー</a></li>
            <li><a class="text-white" href="#">利用規約</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>

</div>

<div class="modal fade" id="usageModal" tabindex="-1" role="dialog" aria-labelledby="usageModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="usageModalLabel">使い方</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>①Sign upをクリックしていただき、新規登録をお願いいたします。<br>※お試しの場合は、Guest Log inを押下してください。</p>
        
        <p>②カレンダー内の日付をクリックすると、投稿画面が表示されます。</p>
        <p>③投稿すると、カレンダー内に投稿詳細画面が表示されます。</p><br>
        ※全ての機能を使うためにはログインが必須となります
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>