

<%= form_with(model: @good_thing,url:good_things_path, local: true) do |form| %>
  <div class="field">
    <%= form.label :good_1 %>
    <%= form.text_field :good_1 %>
  </div>

  <div class="field">
    <%= form.label :good_2 %>
    <%= form.text_field :good_2 %>
  </div>

  <div class="field">
    <%= form.label :good_3 %>
    <%= form.text_field :good_3 %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.datetime_select :start_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<div id='calendar'></div>