<div class="body">
  <div class ="container d-flex flex-column align-items-center">


    <h2 class="text-white justify-content-center">今日の良かったこと</h2>
    <div class="text-white">
      <%= @good_thing.good_1 %>
    </div>
    <div class="text-white">
      <%= @good_thing.good_2 %>
    </div>
    <div class="text-white">
      <%= @good_thing.good_3 %>
    </div>
    <%= link_to '削除', good_thing_path, method: :delete%>
    <%= link_to '戻る', good_things_path%>
  </div>
</div>